---
// Basic Contact Form
// ------------
// Description: A basic contact form with fields for first name, last name, email, phone number and message.
// Properties:
// - classes: Additional classes to be added to the block
// ------------

// Components
// - UI
import Card from '../../ui/cards/partials/Card.astro'
import CardBody from '../../ui/cards/partials/CardBody.astro'
import Form from '../../ui/forms/Form.astro'
import FormField from '../../ui/forms/partials/FormField.astro'
import InputField from '../../ui/forms/form-elements/InputField.astro'
import TextArea from '../../ui/forms/form-elements/TextArea.astro'
import RadioGroup from '../../ui/forms/form-elements/RadioGroup.astro'
import Button from '../../ui/Button.astro'

type RadioOption = {
	name:string,
	group:string
}

const frequencyGroup: RadioOption[] = [
    {
        name: "Once",
		group: "Frequency"
    },
    {
        name: "Weekly",
		group: "Frequency"
    },
    {
        name: "Bi-weekly",
		group: "Frequency"
    },
    {
        name: "Monthly",
		group: "Frequency"
    },
]

const serviceGroup : RadioOption[] = [
	{
		name: "Standard",
		group: "Cleaning Type"
	},
	{
		name: "Deep",
		group: "Cleaning Type"
	},
	{
		name: "Move-in/out",
		group: "Cleaning Type"
	},
	{
		name: "Commercial",
		group: "Cleaning Type"
	},
];

// Props
type Props = {
	classes?: string
}

const { classes } = Astro.props;
---

<Card classes={classes}>
	<CardBody>
		<Form action="https://formsubmit.co/a5e5932bea94bb740249dbd8bdb5ab5f">
			<h2 class="text-2xl">Get in Touch</h2>
			<FormField>
				<!-- Honeypot -->
				<input type="text" name="_honey" class="hidden" />
				<!-- Display Captcha -->
				<input type="hidden" name="_captcha" value="false" />
				<!-- Configure email output -->
				<input type="hidden" name="_template" value="table" />
				<!-- CC email -->
				<input type="hidden" name="_cc" value="championmaidservice@gmail.com" />
				<!-- Relocation page -->
				<input type="hidden" name="_next" value="/success" />

				<InputField type="text" id="First Name" label="First Name" required value="John" />
				<InputField type="text" id="Last Name" label="Last Name" value="Doe" />
			</FormField>
			<FormField>
				<InputField
					type="email"
					id="Email"
					label="Email"
					required
					value="name@youremail.com"
				/>
			</FormField>
			<FormField>
				<InputField type="tel" id="Phone" label="Phone Number" />
			</FormField>
			<FormField>
				<InputField type="range" rangeUnit="Bedroom" id="Bedroom" label="How many bedrooms should be cleaned?" value="2" min="0" max="6" step="0.5"/>
			</FormField>
			<FormField>
				<InputField type="range" rangeUnit="Bathroom" id="Bathroom" label="How many bathrooms should be cleaned?" value="1" min="0" max="6" step="1"/>
			</FormField>
			<FormField>
				<InputField type="range" rangeUnit="Sqft" id="Sqft" label="How large is the property?" value="2200" min="100" max="10000" step="100"/>
			</FormField>
			<FormField>
				<RadioGroup id="Cleaning Frequency" label="Frequency of cleaning" data={frequencyGroup}/>
			</FormField>
			<FormField>
				<RadioGroup id="Cleaning Type" label="Type of cleaning" data={serviceGroup}/>
			</FormField>
			<FormField
				><TextArea
					id="Additional Notes"
					label="Additional Notes"
				/></FormField
			>
			<Button style="primary" type="submit">Submit</Button>
		</Form>
	</CardBody>
</Card>
