---
// Basic Contact Form
// ------------
// Description: A basic contact form with fields for first name, last name, email, phone number and message.
// Properties:
// - classes: Additional classes to be added to the block
// ------------

// Components
// - UI
import Card from '../../ui/cards/partials/Card.astro'
import CardBody from '../../ui/cards/partials/CardBody.astro'
import Form from '../../ui/forms/Form.astro'
import FormField from '../../ui/forms/partials/FormField.astro'
import InputField from '../../ui/forms/form-elements/InputField.astro'
import TextArea from '../../ui/forms/form-elements/TextArea.astro'
import Button from '../../ui/Button.astro'

// Props
type Props = {
	classes?: string
}
const { classes } = Astro.props
---

<Card classes={classes}>
	<CardBody>
		<Form action="https://formsubmit.co/8c3d2adbeebfdb4d5072a40015f579e4">
			<h2 class="text-2xl">Get in Touch</h2>
			<FormField>
				<!-- Honeypot -->
				<input type="text" name="_honey" class="hidden">
				<!-- Display Captcha -->
				 <input type="hidden" name="_captcha" value="false">
				 <!-- Relocation page -->
				 <input type="hidden" name="_next" value={`${import.meta.env.BASE_URL}success`}>
				
				<InputField type="text" id="First&nbsp;Name" label="First Name" required value="John"/>
				<InputField type="text" id="Last&nbsp;Name" label="Last Name" value="Doe"/>
			</FormField>
			<FormField>
				<InputField type="email" id="Email" label="Email" required value="name@youremail.com" />
			</FormField>
			<FormField>
				<InputField type="tel" id="Phone" label="Phone Number" />
			</FormField>
			<FormField><TextArea id="Message" label="Your Message" placeholder="Your message here" required/></FormField>
			<Button style="primary" type="submit">Submit</Button>
		</Form>
	</CardBody>
</Card>
